body{
 background:#fff;
 font-family: 'Lucida Grande','Helvetica Neue',Verdana,Arial,sans-serif;
 color:#222;
}


.centre{
  text-align:center;
  padding:10px;
}



#header{

       display: block;
       height: 60px;
       line-height: 60px;
       font-size: 24px;
       font-weight: bold;
       text-indent: 56px;

     width: 100%;
     background: #ddd;
     margin: 0px;
     padding: 0px;
}

#header span.header_right{
  position: absolute; right: 100px;
  font-size: 16px;
}
#header span.random{
  font-size: 20px;
}

#side-a {
	padding-right: 20px;
	padding-left: 20px;
	border:0;
	float: left;
	width: 512px;
#        font-size: 20px;
     
}


a:link {color:#333}
a:active {color:#333}
a:visited {color:#333}
a:hover {color:#000}

div.rec{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
}
div.rectext{
padding: 5px;
font-size: 16px;
}
div.recdesc{
padding: 5px;
font-size: 14px;
}
span.cat{
#padding: 0px;
background: #ddd;
}

h3{
  padding:5px;
}


span.closeButton{
  position: absolute; right: 10px;
  font-size: 16px;
  font-weight: bold;
}

#info{
       display: none;
}

th{
  text-align:left;
}




/*


#related{

       display: block;
       height: 60px;
       line-height: 60px;
       #font-size: 24px;
       #font-weight: bold;
       text-indent: 56px;

     background: #fff;
     margin: 0px;
     padding: 0px;
}


td.foo{
  width:100%;
}

input.abutton
{
   border-style:solid;
   border-color:#000;
   background:#fff;
}

#footer
{
        clear: left;
#        background: #ccc;
        text-align: left;
        padding: 5px;
        height: 1%;

}




#wrapper {

	position: relative;

        margin: 0px;
        padding: 0px;

	text-align: left;
	border:0;
#        height: 675px;
	width: 100%;
clear:both;
}



#suggestions1 { 
	padding: 0px;
#	float: left;
#	width: 45%;
        background: #fff;
}


ul {
        list-style-type:none;
	padding: 0px;
	border:0;

}
li{

	padding: 0px;
	border:0;
#	height: 200px;
	color: #58626c;
#	border-bottom: solid #bbb 1px;
}




.center{
  text-align:center;
}
*/
